In [3]:
import pandas as pd

In [6]:
pd.read_csv("offers.csv")

,id,title,date,company,place,position,workload,categories,text
0,6a24f7ee-fd7a-4246-bf62-57b384d609a9,Quantitative Financial Risk Manager (w/m/d),25 March 2022,die Mobiliar,Bern,Specialist,80% – 100%,"Banking / Insurance, Risk Management / Complia...",In einem Team von Fachspezialisten sind Sie ...
1,32289881-3fa2-47e2-b9c4-d66348aa099e,PostgreSQL & Oracle Database Administrator (VS),21 March 2022,PSS IT Solutions SA,Valais,Employee,100%,"Information Technology / Telecom., Database Sp...",PostgreSQL & Oracle Database Administrator (...
2,32289881-3fa2-47e2-b9c4-d66348aa099e,Datenmanager:in Sicherungsanlagen,10 March 2022,SBB CFF FFS,Zürich Altstetten,Employee,80% – 100%,"Information Technology / Telecom., Database Sp...",Datenmanager:in Sicherungsanlagen\n\n Das...
3,32289881-3fa2-47e2-b9c4-d66348aa099e,Senior Oracle Database Developer 100%,07 February 2022,Leonteq Securities AG,Zürich,Specialist,100%,"Information Technology / Telecom., Database Sp...",Senior Oracle Database Developer 100%\n\n\n\...